html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(191, 229, 217);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-clock__time {
  font-size: 70px;
  font-weight: 6000;
  color: white;
}
.js-clock__message {
  font-size: 50px;
  font-weight: 4000;
  color: white;
}

.js-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-form__question {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 20px;
  font-size: 40px;
  font-weight: 100;
}
.no-name-question {
  display: none;
}

.js-form__input,
.js-toDoForm__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 30px;
  font-weight: 90;
  width: 300px;
  height: 30px;
  margin-top: 30px;
  text-align: center;
  color: white;
}
.no-name-input,
.no-toDo {
  display: none;
}
.js-toDoForm__input::placeholder {
  color: white;
}

.delBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: red;
}

.js-toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-toDoList__toDo {
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 0;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
